---
layout: default
---
	<input type="checkbox" id="chkbx4price" />
	<main>
		<figure class="flyer">
			<img src="/assets/images/ad.png" class="flyer-img" />
			<label for="chkbx4price" class="flyer-button"><img src="/assets/images/intobinary-icon_black.png" /></label>
			
			<div class="flyer-price"><div class="flyer-price_dock">
				<p class="flyer-price-text">The price of the weekly program depends on the city of the school. <a href="mailto:madam.ella@intobinary.org" title="Email the Founder at madam.ella@intobinary.org">Contact us</a>.</p>
			</div></div>
			
			<footer class="flyer-footer">&copy; Copyrights 2025: <a href="https://intobinary.org">Into Binary</a>. All rights reserved.</footer>
		</figure>
		
		<section class="demo">
			<div class="demo-content">
				<div class="demo-content-screen">{% for file in site.data.demo %}{% for data in file[1] %}{% assign aMap = data.map %}{% endfor %}{% endfor %}
					<div class="demo-content-screen-grid">{% for i in (1..9) %}
						<span class="demo-content-screen-grid-box {% if aMap contains i %}is-map{% endif %}">{{ i }}</span>{% endfor %}
						
						<div class="demo-content-screen-grid-item is-character js-sprite CSScentered" attr-start="8" attr-direction="up">
							<span>&rarr;</span>
						</div>
					</div>
					<div class="demo-content-screen-menu">
						<span>Run Code</span>
						<span>New</span>
					</div>
				</div>
				<div class="demo-content-code">
					<div class="demo-content-code-blocks">
						<img class="js-code for-moveForward" src="/assets/images/code/move-forward.png" draggable="true" />
						<img class="js-code for-turnLeft" src="/assets/images/code/turn-left.png" draggable="true" />
						<img class="js-code for-turnRight" src="/assets/images/code/turn-right.png" draggable="true" />
					</div>
					<div class="demo-content-code-area js-codeArea">
					
					</div>
				</div>
			</div>
			
			<footer class="demo-footer">&copy; Copyrights 2025: <a href="https://intobinary.org">Into Binary</a>. All rights reserved.</footer>
		</section>
	</main>
	
	<script src="/assets/scripts/gamecreators-dot-intobinary-dot-org_flyeranddemo.js"></script>