---
layout: default
---
	<input type="checkbox" id="chkbx4price" />
	<main>
		<figure class="u-ad">
			<img src="/assets/images/ad.png" class="u-ad-img" />
			<label for="chkbx4price" class="u-ad-button"><img src="/assets/images/intobinary-icon_black.png" /></label>
			
			<div class="u-ad-price"><div class="u-ad-price_dock">
				<p class="u-ad-price-text">The price of the weekly program depends on the city of the school. <a href="mailto:madam.ella@intobinary.org" title="Email the Founder at madam.ella@intobinary.org">Contact us</a>.</p>
			</div></div>
			
			<footer class="u-ad-footer">&copy; Copyrights 2025: <a href="https://intobinary.org">Into Binary</a>. All rights reserved.</footer>
		</figure>
	</main>
