---
layout: default
---
	<main>
		<header class="header">
			<img src="/assets/images/intobinary-logo_white.png" class="header-logo" />
			
			<hgroup class="header-title">
				<h1 class="header-logo-title-h1">Game Creators</h1>
				<h2 class="header-logo-title-h2">Coding Program</h2>
			</hgroup>
			
			<div class="header-details">Afterschool at School. <br />3 to 5 classes monthly.</div>
		</header>
		
		<section class="section">
			<img src="/assets/images/background.png" class="section-banner" />
			<div class="section-content">
			</div>
		</section>
	</main>
	<span class="d-bg"></span>
